<div class="container">
  <div class="row">
    <div class="col-3 border-right border-dark">
      <%= render 'layouts/info' %>
    </div>
    <div class="col-6">
      <%= render 'index', posts: @posts %>
    </div>
    <div class="col-3">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="<%= experience_percentage(current_user) %>" aria-valuemin="0" aria-valuemax="100" style=width:<%= experience_percentage(current_user) %> ></div>
      </div>
    </div>
  </div>
</div>