<div class="container">
  <div class="row">
    <div class="mx-auto">
      <table class="table table-hover">
        <tbody>
          <% @posts.each do |post| %>
            <tr class="posts-index-tr" data-href="posts/<%= post.id %>">
              <td>
                <%= post.body %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render 'new' %>
    </div>
  </div>
</div>

<!--テーブルの行全体をリンクにしている-->
<script>
  jQuery(document).on("turbolinks:load", function() {
  $(".posts-index-tr").on('click', function() {
      window.location = $(this).data("href");
  });
});
</script>