<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'layouts/info' %>
    </div>
    <div class="col-6 border-left border-right border-dark">
      <div class="posts-scroll" style="overflow-y: scroll; height: 500px;">
        <%= render 'index', posts: @posts %>
      </div>
    </div>
    <div class="col-3">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="<%= experience_percentage(current_user) %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= experience_percentage(current_user) %>"></div>
      </div>
    </div>
  </div>
</div>

<script>
  //無限スクロール
  $(window).on('resize', function() {
    adjustContainerHeight();
    $('.posts-scroll').jscroll('destroy'); // jscrollを一時的に無効化
    $('.posts-scroll').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a',
      loadingHtml: '<div class="text-center"><i class="fas fa-spinner fa-spin"></i> Loading...</div>'
    });
  });
  
  $(document).ready(function() {
    adjustContainerHeight();
    $('.posts-scroll').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a',
      loadingHtml: '<div class="text-center"><i class="fas fa-spinner fa-spin"></i> Loading...</div>'
    });
  });
  
  function adjustContainerHeight() {
    var windowHeight = $(window).height();
    var containerHeight = windowHeight - $('.posts-scroll').offset().top;
    $('.posts-scroll').css('height', containerHeight + 'px');
  }
</script>
