<div class="container">
  <div class="row">
    <div class="mx-auto">
      <table>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td>
                <%= link_to post.body, post_path(post) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render 'new' %>
    </div>
  </div>
</div>