<div class="container">
  <div class="row row flex-nowrap">
    <%= render 'layouts/info' %>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10 col-12 d-flex flex-column">
      <div class="items-scroll flex-grow-1" style="overflow-y: scroll; height: 500px;">
        <%= render 'notification', unread_notifications: @unread_notifications %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'scroll' %>