<div class="container">
  <div class="row flex-nowrap">
    <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 col-10 d-flex flex-column mx-auto">
      <%= render 'admin/users/header' %>
      <div class="d-flex justify-content-around">
        <%= link_to admin_users_path, class:'flex-fill text-center text-dark text-decoration-none btn btn-outline-light border-0 mt-3 pt-3' do %>
          <div>
            ユーザー
          </div>
        <% end %>
        <div class="flex-fill text-center border-bottom border-5 border-primary mt-3 pt-3">
          投稿
        </div>
      </div>
      <div class="posts-scroll" style="overflow-y: scroll;">
        <%= render 'index', posts: @posts %>
      </div>
    </div>
  </div>
</div>

<script>
  // 無限スクロール
  $(window).on('resize', function() {
    adjustContainerHeight();
    $('.posts-scroll').jscroll('destroy'); // jscrollを一時的に無効化
    $('.posts-scroll').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a',
      loadingHtml: '<div class="text-center"><i class="fas fa-spinner fa-spin"></i> Loading...</div>',
      callback: function() {
        setHoverBackgroundColor(); // 新しい要素が読み込まれた後に背景色を適用
      }
    });
    setHoverBackgroundColor(); // 最初の要素にも背景色を適用
  });

  $(document).ready(function() {
    adjustContainerHeight();
    setHoverBackgroundColor(); // 最初の要素に背景色を適用
    $('.posts-scroll').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a',
      loadingHtml: '<div class="text-center"><i class="fas fa-spinner fa-spin"></i> Loading...</div>',
      callback: function() {
        setHoverBackgroundColor(); // 新しい要素が読み込まれた後に背景色を適用
      }
    });
  });

  function adjustContainerHeight() {
    var windowHeight = $(window).height();
    var containerHeight = windowHeight - $('.posts-scroll').offset().top;
    $('.posts-scroll').css('height', containerHeight + 'px');
  }

  function setHoverBackgroundColor() {
    $('.post-item').hover(
      function() {
        $(this).css('background-color', 'rgba(192, 192, 192, 0.1)');
      },
      function() {
        $(this).css('background-color', '');
      }
    );
  }
</script>