<div class="d-flex justify-content-between">
  <div>
    Lv.<%= current_user.level %>
  </div>
  <div>
    次のレベルまで残り:
    <%= points_to_next_level(current_user).to_i %>P
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="<%= experience_percentage(current_user) %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= experience_percentage(current_user) %>"></div>
</div>